body {
  padding-top: 65px;
  padding-left: 90px;
}
p {
  margin: 0px;
}

.thumbclass {
  width: 300px;
  display: inline-block;
  position: relative;
}
.thumb {
  width: 100%;
  border-radius: 8px;
}

.ppclass {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.pp {
  width: 40px;
  display: inline-block;
  border-radius: 30px;
}

.textclass {
  display: inline-block;
  vertical-align: top;
  width: 246px;
}

.texttitle {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 500;
}

.textchannel {
  margin-top: 14px;
  font-size: 14px;
  font-family: Roboto;
  color: gray;
}

.textviews {
  margin-top: 6px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: gray;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
}

.allinfo {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
  z-index: 1;
}

.left {
  min-width: 200px;
  display: flex;
  align-items: center;
}
.center {
  flex: 1;
  margin-left: 50px;
  margin-right: 20px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right {
  width: 250px;
  min-width: 240px;
  margin-right: 4px;
}

.three {
  width: 30px;
  margin-left: 24px;
  margin-right: 24px;
}

.ytlogo {
  width: 130px;
}
.searchimg {
  width: 25px;
}

.vsearchimg {
  width: 30px;
}

.search {
  flex: 1;
  height: 38.5px;
  font-size: 18px;
  padding-left: 25px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-style: solid;
  border-width: 1px;
  min-width: 60px;
  width: 0px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.15);
}


.search::placeholder {
  font-family: Roboto, Arial;
}

.searchb {
  background-color: #f4f4f4;
  height: 42px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  margin-left: -3px;
  padding-right: 15px;
  padding-left: 12px;
  padding-top: 4.5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.searchb:hover{
    background-color: #dcdcdc;
}

.vsearchb {
  height: 45px;
  border-radius: 50px;
  border: none;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #e6e6e6;
  margin-left: 14px;
  cursor: pointer;
}

.vsearchb:hover{
    background-color: #d7d7d7;
}
.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    flex-shrink: 0;
}

.apps{
    width: 29px;
    padding: 5px 5px;
}

.upload{
    width: 30px;
    padding: 5px 5px;
}

.noti{
    width: 30px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
}

.dp{
    border-radius: 70px;
    height: 34px;
}

.apps:hover,.upload:hover,.noti:hover,.dp:hover{
  cursor: pointer;
  background-color: #dcdcdc;
  border-radius: 20px;
  transition-duration: 0.1s;
}

.dp:hover{
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.2);
}

.three:hover,.ytlogo:hover{
  cursor: pointer;
}

.sidebar{
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 75px;
  background-color: white;
  border-top: 1px solid #d7d7d7;
}

.timestamp{
  position: absolute;
  bottom: 15px;
  right: 10px;
  background-color: rgba(0, 0,0,0.8);
  color: white;
  font-family: Roboto;
  padding: 2px 5px;
  border-radius: 3px;
}

.notic{
  position: relative;
  margin-top: 5px;
}

.notinum{
  position: absolute;
  top: 0;
  right: -2px;
  background-color: red;
  color: white;
  font-family: Roboto;
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebaritems{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebaritems:hover{
  background-color: #dcdcdc;
}

.sidebaritems img{
  width: 30px;
}

.sidebarname{
  font-family: Roboto;
  font-size: 10px;
  margin-top: 5px;
}

.sidebar{
  padding-top: 5px;
  z-index: 2;
}

.ppclass{
  position: relative;
}

.pplink{
  width: 180px;
  position: absolute;
  bottom: -65px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 3px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.2);
  opacity: 0;
  transition-duration: 0.2s;
  pointer-events: none;
}

.ppclass:hover .pplink{
  opacity: 1;
}

.sad img{
  width: 55px;
  border-radius: 50%;
  margin-right: 10px;
}

.tost{
  font-family: Roboto;
}

.eh{
  font-weight: bold;
}

.eheh{
  font-size: 14px;
  color: rgb(171, 171, 171);
}